.bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
button:hover{
    background-color: black;
}


.logo {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.main-nav {
    margin-top: 32px;

}

.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;
}

.main-nav a {
    color: white;
}

.main-nav a:hover {
    color: rgb(172, 172, 172);
}
ul{
    list-style-type: none;
}


.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #a2a2a2;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}




@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
    }

    .header {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }

}

@media (min-width: 1025px) {
    .header {
        height: 130px;
        margin-left: 7px;
        position: fixed;
        width: 99%;
        flex-direction: row;
        justify-content: space-between;

    }

    .header.shrink{
        height: 80px;
    }

}


.nav_txt {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
}


.container {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 90vh;
}

.box {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    line-height: 0;
    border:goldenrod;
    border-style: outset;
    border-width: 3px;

}

.box > img {
    width: 200%;
    height: calc(100%);
    object-fit: cover;
    transition: .5s;
}


.box:hover { flex: 1 1 50%; }
.box:hover > img {
    width: 100%;
    height: 100%;
}
.contact_button{
    border: white; border-style: outset;
    background-color: rgb(37, 17, 94);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-width: 3px;
    border-radius: 30px;
    font-size: 24px;
    position: relative;
    bottom: 10px;
    padding: 5px 15px;
}

.footer-distributed {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    font-family: bold;

    text-align: left;
    padding: 50px 60px 40px;
    overflow: hidden;
}

section {
    width: 100%;
    display: inline-block;
    background: grey;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}




.footer-distributed .footer-left {
    float: left;
}



.footer-distributed h3 span {
    color: #5383d3;
}


.footer-distributed .footer-links {
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: black;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons {
    margin-top: 40px;
    margin-left: 60px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: black;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right {
    float: right;
}

.footer-distributed .footer-right p {
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
}

/* The contact form */

.footer-distributed form {
    display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;

    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: black;

    width: 400px;
    padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
    color: grey;
}

.footer-distributed ::-moz-placeholder {
    color: black;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
    color: #000000;
}


.footer-distributed form input {
    height: 55px;
    margin-bottom: 15px;
}

.footer-distributed form textarea {
    height: 100px;
    margin-bottom: 20px;
}

.footer-distributed form button {
    border-radius: 3px;
    background-color: rgb(37, 17, 94);
    color: #ffffff;
    border: solid;
    border-color: white;
    border-width: 2px;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
}

.footer-distributed form button:hover{
    background-color: black;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-company-name {
        font-size: 12px;
    }

    .footer-distributed form input,
    .footer-distributed form textarea {
        width: 250px;
    }

    .footer-distributed form button {
        padding: 10px 35px;
    }

}

@media (max-width: 800px) {

    .footer-distributed {
        padding: 30px;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }

    .footer-distributed .footer-left {
        margin-bottom: 40px;
    }

    .footer-distributed form {
        margin-top: 30px;
    }

    .footer-distributed form {
        display: block;
    }

    .footer-distributed form button {
        float: none;
    }
}

.contact_button{
    border: white; border-style: outset;
    background-color: rgb(37, 17, 94);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-width: 3px;
    border-radius: 30px;
    font-size: 24px;
    position: relative;
    bottom: 7px;
}

.divclass {
    background-color: black;
    width: 100%;
    height: 150px;
    padding: 10px;
    color: white;
    font-size: 1.256em;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
    font-family: 'Open Sans', 'sans-serif';
    color: #cecece;
    background: #222;
}

.item-1,
.item-2,
.item-3 {
    position: absolute;
    display: block;

    width: 60%;

    font-size: 2em;

    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.item-1{
    animation-name: anim-1;
}

.item-1 .hide{
    color:black
}

.item-2{
    animation-name: anim-2;
}
.item-2 .hide{
    color: black;
}

.item-3{
    animation-name: anim-3;
}
.item-3 .hide{
    color: black;
}

@keyframes anim-1 {
    0%, 8.3% { left: -100%; opacity: 0; }
    8.3%,25% { left: 25%; opacity: 1; }
    33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
    0%, 33.33% { left: -100%; opacity: 0; }
    41.63%, 58.29% { left: 25%; opacity: 1; }
    66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
    0%, 66.66% { left: -100%; opacity: 0; }
    74.96%, 91.62% { left: 25%; opacity: 1; }
    100% { left: 110%; opacity: 0; }
}

.aboutuscontainer{
    border:white;
    border-style: solid;
    background-color: rgba(0, 0, 0,0.9);
    color: white;
}

  
  