<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="nightclub, club, html, css, javascript,">
    <meta name="dev-team" content="Gaseri">
    <link rel="stylesheet" href="../static/css/code.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alcatraz Night Club</title>
</head>

<!-- Background which is formatted by a css class called bg -->
<body class=bg>
    <header class="header" style="z-index: 2;">
      <!-- Logo picture with link to the home page -->
      <h1 class="logo"><a href="{{ url_for('index') }}"><img src="../static/images/LogoMakr (1).png"></a></h1>
      <ul class="main-nav">
          <!-- Contact button sends the user to the contact us form -->
          <li class="nav_txt"><a href="#kontakt">
              <button class="contact_button">KONTAKT</button>
          </a></li>
          <li class="nav_txt"><a href="{{ url_for('about_us') }}">O NAMA</a></li>
          <!-- Gallery button sends the user to the page with the gallery -->
          <li class="nav_txt"><a href="{{ url_for('gallery') }}">GALERIJA</a></li>
          <li class="nav_txt"><a href="{{ url_for('reservation') }}">REZERVACIJA</a></li>
          <li class="nav_txt"><a href="{{ url_for('events') }}">DOGAĐAJI</a></li>
      </ul>
  </header>

<br>

<div>
<!-- First text area on the site with basic info,
source: foundation framework -->
<div class="marketing-site-content-section">

    <!-- Picture on the side -->
    <div class="marketing-site-content-section-img">
        <img src="../static/images/Crowd.jpeg"
             alt=""/>
    </div>

    <!-- Text box which statnds by the picture with some info
     source: foundation framework-->
    <div class="marketing-site-content-section-block">
        <h3 class="marketing-site-content-section-block-header">Od otvaranja uzastopno nagrađivan u kategoriji top 10
            najboljih velikih klubova u Europi!</h3>

        <br>

        <!-- Button which is going to be imported in the future project - used for buying tickets -->
        <a href="{{ url_for('events') }}" class="round button small">NADOLAZEĆI DOGAĐAJI</a>
    </div>

    <!-- Another textarea with a side picture
     source: foundation framework-->
    <div class="marketing-site-content-section-block small-order-2 medium-order-1">
        <h3 class="marketing-site-content-section-block-header">Rezerviraj svoje mjesto na izlascima za pamćenje! Biraj
            između čak 30 visokih stolova, 16 VIP separea, i 8 VIP PREMIUM...</h3>

        <br>

        <!-- Button for another function of the site which is going to be implemented later used to reserve your table for a specific date -->
        <a href="{{ url_for('reservation') }}" class="round button small">REZERVACIJA</a>
    </div>

    <!-- Picture on the side -->
    <div class="marketing-site-content-section-img small-order-1 medium-order-2">
        <img src="../static/images/Gold.jpeg" alt=""/>
    </div>
</div>

<div class="container-xl p-4" style="background-color: rgba(0,0,0,0.9);color: white;"><h3>Galerija slika s naših brojnih događaja kao što su koncerti, nastupi dj-eva, pjena party, dance party...</h3></div>
<div class="container">

    <div class="box">
        <img src="../static/images/IMG (6).jpeg">
    </div>

    <div class="box">
        <img src="../static/images/IMG (11).jpeg">
    </div>

    <div class="box">
        <img src="../static/images/IMG (3).jpeg">
    </div>

    <div class="box">
        <img src="../static/images/IMG (4).jpeg">
    </div>

    <div class="box">
        <img src="../static/images/Laptop.jpeg">
    </div>

    <a href="{{ url_for('gallery') }}"><button class="gal_button">POGLEDAJ CIJELU GALERIJU</button></a>
</div>
<br>

<form action="\newsletter" method="post">
    <div class="container-md" style="z-index: 1;">
    {% if error_statement_newsletter %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{error_statement_newsletter}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% elif exists_statement %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{exists_statement}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    {% elif statement %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{statement}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endif %}
    </div>
    <div class="form-group newsletter_txt container-md">
        <div class="row"><h2>Pretplati se na newsletter:</h2></div>
        <br>
        <div class="row">
            <div class="col-md-2"><label for="exampleInputEmail1"><h5>Email adresa:</h5></label></div>
            <div class="col-md-6"><input type="email" name="email_newsletter" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"></div>
            <div class="col-6 col-md-4"><button type="submit" class="gal_button" >PRETPLATI SE</button></div>
        </div>
    </div>
  </form>
<br>


<!-- Left side of the footer on the main page -->
<footer id="kontakt" class="footer-distributed" style="border-top: grey; border-style: solid;">
    <div class="footer-left">
        <!-- Logo image -->
        <h3><img src="../static/images/LogoMakr (1).png"></h3>

        <br>

        <!-- Basic contact info list: -->
        <ul style="color: white; font-size: 1em; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
            <!-- Address -->
            <li><i class="bi bi-geo-alt" style="color: white;"> Zadarska 1, Zadar</i></li>

            <br>

            <!-- Telephone number -->
            <li><i class="bi bi-telephone" style="color: white;"> 023/123-321</i></li>

            <br>

            <!-- e-mail -->
            <li><i class="bi bi-envelope" style="color: white;"> alcatrazclubzadar@gmail.com</i></li>

            <br>
        </ul>
    

        <!-- Social media icons with links to profiles (there is no profile for our imaginary club project so it leads
        to the main page of each social media presented) -->
        <div class="footer-icons">
            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
        </div>

    </div>

    <!-- Right side of the footer on the main page -->
    <div class="footer-right">
        {% if error_statement %}
        <!-- Error message shows if e mail or message fields are not filled -->
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{error_statement}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% elif success_statement %}
        <!-- Success message shows if e mail or message fields are not filled -->
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{success_statement}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}
        <p style="font-size: 1.5em;font-weight: bold;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Kontaktiraj nas:</p>
        <!-- Contact us form -->
        <form action="/message" method="post">
            <input type="text" name="email" placeholder="E-mail">
            <textarea name="message" placeholder="Poruka"></textarea>
            <button style="font-weight: bold ;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">Pošalji</button>
        </form>
        <br>
    </div>
</footer>

<!-- Javascript code for shrinking navbar-->
<script type="text/javascript">
    window.addEventListener("scroll",function(){
        var header=document.querySelector("header");
        header.classList.toggle("shrink",window.scrollY>0);
})
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>

</html>